## My config
server {
  listen   5000;
  server_name  python_app;

  access_log  <%= node[:data_set_importation_configs][:nginx_log_dir] %>/python_app.access.log;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_read_timeout 60;
    proxy_send_timeout 60;
    proxy_pass http://127.0.0.1:8080;
  }
}