#!upstart
description "Redis Server"

start on startup
stop on shutdown

respawn

script
	exec uwsgi --chdir=<%= node[:data_set_importation_configs][:application_directory] %> \
			 --http-socket 127.0.0.1:8080 \
			 --wsgi-file server.py \
			 --master --processes 4 --threads 2 \
			 --logto /home/ubuntu/python_app.log \
			 --stats 127.0.0.1:9191
end script